USE [TestDB]
GO
ALTER TABLE [crm].[Customer] DROP CONSTRAINT [DF__Customer__countr__38996AB5]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[crm].[Customer]') AND type in (N'U'))
DROP TABLE [crm].[Customer]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crm].[Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[company_name] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[county] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[zip] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[phone1] [nvarchar](50) NULL,
	[phone2] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[web_address] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [crm].[Customer] ON 

INSERT [crm].[Customer] ([id], [first_name], [last_name], [company_name], [address], [city], [county], [state], [zip], [country], [phone1], [phone2], [email], [web_address]) VALUES (1, NULL, NULL, N'Acme Corp', N'123 Snell Ave', N'Jefferson City', N'Cole', N'MO', N'65101', N'U.S.A.', NULL, N'573-555-3256', NULL, N'www.acme.test')
INSERT [crm].[Customer] ([id], [first_name], [last_name], [company_name], [address], [city], [county], [state], [zip], [country], [phone1], [phone2], [email], [web_address]) VALUES (2, NULL, NULL, N'Foo, Inc.', N'457 Prairie View St', N'Boulder', N'Boulder', N'CO', N'80301', N'US', NULL, N'303-555-5623', NULL, N'www.foo.test')
INSERT [crm].[Customer] ([id], [first_name], [last_name], [company_name], [address], [city], [county], [state], [zip], [country], [phone1], [phone2], [email], [web_address]) VALUES (3, NULL, NULL, N'Snedley & Sons, L.L.C.', N'443 Arroyo Rd', N'Raton', N'Colfax', N'NM', N'87740', N'U.S.', NULL, N'575-555-0956', NULL, N'www.snedley.test')
GO
SET IDENTITY_INSERT [crm].[Customer] OFF
GO
ALTER TABLE [crm].[Customer] ADD  DEFAULT ('USA') FOR [country]
GO
