USE [TestDB]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PotentialMatches]') AND type in (N'U'))
DROP TABLE [dbo].[PotentialMatches]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PotentialMatches](
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[company_name] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[county] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[zip] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[phone1] [nvarchar](50) NULL,
	[phone2] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[web_address] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[PotentialMatches] ([first_name], [last_name], [company_name], [address], [city], [county], [state], [zip], [country], [phone1], [phone2], [email], [web_address]) VALUES (NULL, NULL, N'Acme Corp', N'123 Snell Ave', N'St. Martins', N'Cole', N'MO', N'65101-3256', N'U.S.A.', NULL, N'573-555-3256', NULL, N'www.acme.test')
INSERT [dbo].[PotentialMatches] ([first_name], [last_name], [company_name], [address], [city], [county], [state], [zip], [country], [phone1], [phone2], [email], [web_address]) VALUES (NULL, NULL, N'Foo, Inc.', N'457 Prairie View St', N'Boulder', N'Boulder', N'CO', N'80301-5623', N'US', NULL, N'303-555-5623', NULL, N'www.foo.test')
INSERT [dbo].[PotentialMatches] ([first_name], [last_name], [company_name], [address], [city], [county], [state], [zip], [country], [phone1], [phone2], [email], [web_address]) VALUES (NULL, NULL, N'Snedley & Sons, L.L.C.', N'443 Arroyo Road', N'Raton', N'Colfax', N'NM', N'87740-0956', N'U.S.', NULL, N'575-555-0956', NULL, N'www.snedley.test')
GO
