USE [TestDB]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USFakeDemoData]') AND type in (N'U'))
DROP TABLE [dbo].[USFakeDemoData]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USFakeDemoData](
	[last_name] [nvarchar](50) NULL,
	[first_name] [nvarchar](50) NULL,
	[company_name] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[county] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[zip] [int] NULL,
	[phone1] [nvarchar](50) NULL,
	[phone2] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[web] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[USFakeDemoData] ([last_name], [first_name], [company_name], [address], [city], [county], [state], [zip], [phone1], [phone2], [email], [web]) VALUES (NULL, NULL, N'Acme Corp', N'123 Snell Ave', N'Jefferson City', N'Cole', N'MO', 65101, NULL, N'573-555-3256', NULL, N'www.acme.test')
INSERT [dbo].[USFakeDemoData] ([last_name], [first_name], [company_name], [address], [city], [county], [state], [zip], [phone1], [phone2], [email], [web]) VALUES (NULL, NULL, N'Foo, Inc.', N'457 Prairie View St', N'Boulder', N'Boulder', N'CO', 80301, NULL, N'303-555-5623', NULL, N'www.foo.test')
INSERT [dbo].[USFakeDemoData] ([last_name], [first_name], [company_name], [address], [city], [county], [state], [zip], [phone1], [phone2], [email], [web]) VALUES (NULL, NULL, N'Snedley & Sons, L.L.C.', N'443 Arroyo Rd', N'Raton', N'Colfax', N'NM', 87740, NULL, N'575-555-0956', NULL, N'www.snedley.test')
GO
